body { background: #238660; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 12px; display: flex; }
.block-database-0 { color: #8ffc13; font-size: 16px; margin-bottom: 5px; }
.block-cache-1 { color: #b351f9; font-size: 16px; margin-bottom: 5px; }
.block-uploader-2 { color: #529677; font-size: 16px; margin-bottom: 5px; }
.block-invoice-3 { color: #b13594; font-size: 17px; margin-bottom: 5px; }
.block-router-4 { color: #4ff31a; font-size: 16px; margin-bottom: 5px; }
.block-uploader-5 { color: #9a2a25; font-size: 18px; margin-bottom: 5px; }
.block-filter-6 { color: #c3ed80; font-size: 13px; margin-bottom: 5px; }
.block-filter-7 { color: #950a92; font-size: 13px; margin-bottom: 5px; }